SLAM_lib/cmake-build-release-visual-studio
SLAM_lib/cmake-build-release-androidndk
SLAM_lib/test
SLAM_lib/.idea
SLAM_lib/.vscode
SLAM_lib/.git

Unity_render/Assets/*.meta
Unity_render/Library
Unity_render/Logs
Unity_render/MonoBleedingEdge
Unity_render/Packages
Unity_render/UserSettings
Unity_render/*.csproj
Unity_render/*.sln
Unity_render/.vscode
Unity_render/Temp
Unity_render/Config/dataset.avi
Unity_render/Assets/Models
Unity_render/.git

Release

Project_android/.gradle
Project_android/.idea
Project_android/local.properties
Project_android/launcher/build
Project_android/unityLibrary/build
Project_android/unityLibrary/symbols
Project_android/build
Project_android/.git

Assets/Models

.idea
.vscode
.git

