SLAM_lib/cmake-build-release-visual-studio
SLAM_lib/test
SLAM_lib/.idea
SLAM_lib/.vscode

Unity_render/Assets/*.meta
Unity_render/Library
Unity_render/Logs
Unity_render/MonoBleedingEdge
Unity_render/Packages
Unity_render/UserSettings
Unity_render/*.csproj
Unity_render/*.sln
Unity_render/.vscode
Unity_render/Temp
Unity_render/Config/dataset.avi
Unity_render/Assets/Models

Release

.idea
.vscode
.git